<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8" />
  <title>Radmelder - Verwaltung</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <link rel="stylesheet" href="../css/leaflet.css"/>
     <link rel="stylesheet" href="../css/bootstrap.min.css"/>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/leaflet.extra-markers.min.css">
  <link rel="stylesheet" href="../css/ngDialog.min.css"/>
  <link rel="stylesheet" href="../css/ngDialog-theme-plain.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
     <link rel="stylesheet" href="../css/style.css"/>
  <script src="../js/angular.js"></script>
  <script src="../js/angular-cookies.js"></script>
  <script src="../js/angular-local-storage.min.js"></script>
  <!--<script src="../js/angular-route.js"></script>-->
  <script src="../js/angular-animate.js"></script>
  <script src="../js/angular-touch.js"></script>
  <script src="../js/angular-simple-logger.min.js"></script>
  <script src="../js/angular-image-compress.js"></script>
  <script src="../js/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="../js/angular-sanitize.js"></script>
  <script src="../js/ng-csv.min.js"></script>

  <script src="../js/ui-leaflet.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="verwaltung.js"></script>
  <script src="../js/config.js"></script>
  <script src="../js/leaflet.js"
     integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
     crossorigin=""></script>
     <script src="../js/leaflet.extra-markers.min.js"></script>
</head>
<body ng-app="radwege">
  <div class="container" ng-controller="edit">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Verwaltung</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="btn-group" role="group">
              <button type="button" class="btn" ng-class="{'cl': filtern.published!=0, 'btn-primary': filtern.published==0, 'btn-secondary': filtern.published!=0}" ng-click="filtern.published=0; filtern.declined=0;">Eingereicht</button>
              <button type="button" class="btn" ng-class="{'cl': filtern.published+filtern.declined!=1, 'btn-primary': filtern.published+filtern.declined==1, 'btn-secondary': filtern.published+filtern.declined!=1}" ng-click="filtern.published=1; filtern.declined=0;">Veröffentlicht</button>
              <button type="button" class="btn" ng-class="{'cl': filtern.declined!=1, 'btn-primary': filtern.declined==1, 'btn-secondary': filtern.declined!=1}" ng-click="filtern.declined=1; filtern.published=1;">Verworfen</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <input type="text" style="width: 100%;" class="form-control" placeholder="Suchen" ng-model="suche"/>
          </div>
          <div class="col-lg-6 col-sm-12">
            Aktuelle Auswahl: {{filtered.length}} Einträge
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <button class="cl btn btn-link" ng-csv="export(filtered)" add-bom csv-label="true" quote-strings field-separator=";" filename="stellen.csv">CSV-Export</button><button class="cl btn btn-link" ng-click="getZip(filtered)">Bilder herunterladen</button><span ng-show="zip_loading">Lädt...</span><a class="btn btn-link" href="{{zip_link}}" ng-show="zip_ready">ZIP abrufen</a>
          </div>
        </div>
        <div class="row">
      <div class="col-lg-12" style="height: 500px; overflow:auto;">
        <div class="list-group">
          <a class="cl list-group-item list-group-item-action flex-column align-items-start" ng-repeat="e in eintraege | filter:suche | filter:filtern as filtered" ng-click="$parent.f=e; selecteditem()" ng-class="{'active': $parent.f.id==e.id}">
            <div><span class="text-secondary">#{{e.id}}&nbsp;<i class="fas fa-thumbs-up"></i>&nbsp;{{e.voted? e.voted:0}}</span>&nbsp;<span class="badge badge-secondary" ng-style="{'background-color': getColorFromKategorie(e.Kategorie)}">{{e.Kategorie}}</span></div>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{e.Titel}}</h5>
              <small>{{e.timestamp}}</small>
            </div>
            <p class="mb-1">{{e.Problem | limitTo: 100}}...</p>
            <small><span ng-hide="!e.position_text">Ort: {{e.position_text}}<br/></span><span ng-hide="!e.service_note">Kommentar: {{e.service_note}}</span></small>
          </a>
        </div>
      </div>
    </div>
    </div>
    <div class="col-lg-6">
      <form class="form">
        <div class="row">
        <div class="col-lg-12">
        <div class="form-group">
      	<label for="Titel">Titel/Ort*:</label>
      	<input ng-model="f.Titel" type="text" name="Titel" value="" required class="form-control"><br>
      </div>
      <div class="form-group">
      	<label for="Problem">Problem:</label>
      	<textarea name="Problem" ng-model="f.Problem" rows="3" cols="30" maxlength="1500" required class="form-control"></textarea><br>
      </div>
      <div class="form-group">
        <label for="Kategorie">Kategorie</label>
        <select id="Kategorie" ng-model="f.Kategorie" class="custom-select">
          <option value="Oberfläche">Oberfläche</option>
          <option value="Verkehrsbeschilderung/ Markierung/ Beleuchtung">Verkehrsbeschilderung/ Markierung/ Beleuchtung</option>
          <option value="Radwegweisung">Radwegweisung</option>
          <option value="Behinderung">Behinderung</option>
          <option value="Verkehrsführung">Verkehrsführung</option>
          <option value="Straßenbauarbeiten">Straßenbauarbeiten</option>
          <option value="Ampel">Ampel</option>
          <option value="Abstellanlagen">Abstellanlagen</option>
          <option value="Allgemeines">Allgemeines</option>
          <option value="Sonstiges">Sonstiges</option>
        </select>
      </div>
      <div class="form-group">
          <label>Tags</label>
          <span ng-repeat="t in f.tags"><span class="badge badge-secondary" style="font-weight: 400;">{{t.tag_name?t.tag_name+': '+t.tag_value:t.tag_value}}&nbsp;<i ng-click="remove_tag(t)" class="cl fas fa-minus"></i></span>&nbsp;</span>
          <a class="btn btn-link cl" ng-click="adding_tag=true;"><i class="fas fa-plus"></i>&nbsp;Tag</a>
          <div class="input-group" ng-show="adding_tag">
            <div class="input-group-prepend">
              <select id="new_tag_name" ng-change="update_tag_name()" ng-model="tag_name_select" class="custom-select">
                <option value="">Kategorie</option>
                <option ng-repeat="t in tag_names" value="{{t}}">{{t}}</option>
                <option value="new">Neu</option>
              </select>
            </div>
            <input ng-show="new_tag_name" class="form-control" placeholder="Tagkategorie" id="new_tag_name" ng-model="ntag.tag_name" type="text"/>
            <input class="form-control" placeholder="Tagtext" id="new_tag_value" ng-model="ntag.tag_value" type="text"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" ng-click="add_tag(f.id, ntag)"><i class="fas fa-plus"></i></button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="form-group">
        <label for="Adresse">Adresse </label>
        <div class="input-group">
        <input type="text" ng-model="f.position_text" name="adresse" class="form-control"/>
        <div class="input-group-append">
          <button class="btn btn-primary" ng-click="orten(f.position_text)">Orten</button>
      </div>
      </div>
      <small class="text-muted form-text">Die Änderungen am Position-Text werden nicht gespeichert, lediglich die aktualisierten Koordinaten</small>
      </div>
      Lat: {{f.lat}}, Lng: {{f.lng}}&nbsp;<span ng-show="f.newlatlng"><button class="btn btn-sm btn-outline-secondary" ng-click="resetlatlng(f)">Reset</button></span><br/>
      <leaflet id="editmap" style="width: 100%; height: 300px;" events="events" lf-center="center" markers="markers"></leaflet><br/>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img ng-hide="!f.Bild" style="width: 100%" src="/upload/{{f.Bild}}"/>
      <span ng-hide="!f.Bild"><br/><button class="btn btn-outline-secondary" ng-click="f.Bild=''"><i class="fas fa-times"></i> Bild entfernen</button></span>
      <span ng-show="!f.Bild">Kein Bild<br/>
        <input id="takePictureField" ng-model="ownpoint.Foto" name="Foto" type="file" accept="image/*" class="form-control-file" image="imageupload" resize-max-height="1000" resize-max-width="1000" resize-quality="0.7" resize-type="image/jpg" ng-image-compress/><br/>
        <button class="btn btn-outline-secondary" ng-click="upload(f)">Upload</button>
      </span>
    </div>
  </div>
      <div class="form-group">
        <label for="service_note">Interne Notiz</label>
        <textarea id="service_note" ng-model="f.service_note" maxlength="1000" class="form-control"></textarea>
      </div>
      <button class="btn" ng-class="{'btn-default': f.published==0, 'btn-primary': f.published==1}" ng-click="save(f)"> Speichern</button>
      <button class="btn btn-primary" ng-click="publish(f)" ng-disabled="f.published==1" ng-hide="f.published==1"> Speichern&Freigeben</button><button class="btn" ng-class="{'btn-danger': f.published==0, 'btn-default': f.published==1}" ng-click="decline(f)">Verwerfen</button>
      <br/>Mailkontakt: <span ng-show="!f.mail">Nicht angegeben</span><a ng-class="{'cl': !f.mailing}" style="color: blue; text-decoration: underline;" ng-click="f.mailing? null:activatemail(f)">{{f.mail}}</a>
      <div ng-show="mailing || f.mailing">
        <div class="form-group" ng-hide="f.mailing">
          <label for="betreff">Betreff</label>
          <input name="betreff" type="text" class="form-control" ng-model="mail.subject" />
        </div>
        <div class="form-group">
          <label for="nachricht">{{f.mailing? 'Mail versandt am '+f.mailing_time:'Nachricht'}}</label>
          <textarea ng-disabled="f.mailing" rows="10" name="nachricht" class="form-control" ng-model="mail.message">{{f.mailing}}</textarea>
        </div>
        <button ng-hide="f.mailing" class="btn btn-primary btn-sm" ng-click="sendmail(f, mail)">Senden</button>&nbsp;<button ng-hide="f.mailing" class="btn btn-outline-secondary btn-sm" ng-click="resetmail()">Abbrechen</button>
      </div>
    </form>
    </div>
  </div>
</div>

</body>
</html>
